.nav {
    text-indent:2rem;
    border-top:0.125em solid #3C3E4F;
    border-bottom:0.125em solid #3C3E4F;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-logo {
    color:#6E6E6E;
    font-size:2.5em;
}

.nav-item {
    float: left;
    color:#585858;
    font-size:2rem;
}

@media screen and (max-width: 960px) {
    .nav {
        text-align: center;
    }

    .nav-item {
        float: none;
        position: static;
    }
}

a {
    color:inherit;
    text-decoration:none;
}

p {
    margin-left:3em;
    color:#454545;
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#content a {
    text-decoration: underline;
}

#content h4 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.post{
    display: block;
    margin: 0 auto;
    width: 65%;
}

.postl{
    border-top:0.125em solid #3C3E4F;
}
.postl:last-child {
    border-bottom:0.125em solid #3C3E4F;
}

.post h3 {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.post p {
    text-align: left;
}

.text {
    display: inline-block;
    margin-right: 0 auto;
    margin-left: 0 auto;
    padding-right: 3em;
}


.text code{
    text-align: left;
    margin-left: 0 auto;
}

.postlist a {
    text-decoration: none !important;
}

/* Date formatting */
#date {
	font-size: 1.2em;
	text-align: center;
}

/* Tags formatting NOT WORKING */
#tags {
	display: inline;
	list-style: none;
	padding: 0px;
}
#tags li { display: inline; }
#tags li::after { display: inline; }

/* Lists formatting */
#content ul, ol { text-align: left; }
#content ul { list-style-type: square; }
#content ol { counter-reset: item; }
#content ol li { display: block }
#content ol li:before {
	content: counter(item) ". ";
	counter-increment: item;
	font-weight: bold;
}
