<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <title>{% block title %}La web de Juancito{% endblock %}</title> 
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

